@font-face {
    font-family: heavyFont;
    src: url(resources/fonts/heavy.woff2);
}

@font-face {
    font-family: normalFont;
    src: url(resources/fonts/normal.woff2);
}

@font-face {
    font-family: lightFont;
    src: url(resources/fonts/light.woff2);
}

body {
  width: 690px;
  margin: 0 auto;
}

  .vert {
    border-left: 1px solid #ccc;
  }

header {
  height: 110px;
}
  
  #logo {
    position: relative;
    width: 90px;
    top: 64px;
  }

  nav {
    float: right;
    position: relative;
    top: -35px;
  }

    #sign_up {
      position: relative;
      font-family: heavyFont;
      font-size: .95em;
      color: #333;
      top: 110px;
      right: 77px;
    }

    #short {
      position: relative;
      height: 19px;
      top: 90px;
      right: 8px;
    }

    #log_in {
      position: relative;
      font-family: normalFont;
      font-size: .95em;
      top: 76px;
      left: 2px;
    }

section {
  height: 740px;
  box-shadow: 3px 3px 5px #ddd;
  border: 1px solid #fafafa;
}

  form {
    float: left;
    position: relative;
    top: 30px;
    left: 50px;
  }

    .form_element {
      display: block;
    }

    legend {
      font-family: heavyFont;
      font-size: 1.7em;
      margin-bottom: 45px;
    }

    label {
      font-size: .9em;
      font-family: normalFont;
      margin-bottom: 7px;
    }

    input, select {
      margin-bottom: 30px;
      width: 265px;
      height: 25px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    #zip {
      width: 82px;
    }

    #checkbox {
      position: relative;
      left: -5px;
      height: 12px;
    }

    #box_label {
      position: relative;
      top: -40px;
      left: 20px;
    }

    #button {
      color: #fff;
      background-color: #45cae6;
      font-size: .8em;
      width: 100px;
      height: 50px;
    }

  aside {
    position: relative;
    float: right;
    border-left: 1px solid #ccc;
    top: 115px;
    padding: 0 15px;
    width: 216px;
    height: 535px;
  }

    ul {
      background-color: #f5f5f5;
      padding: 25px 25px 15px 25px;
      margin: 0 10px;
      width: 152px;
    }

    lh {
      font-family: normalFont;
      font-size: 1.23em;
      margin-top: 25px;
      color: #777;
    }

    li {
      font-family: normalFont;
      list-style: disc;
      font-size: .75em;
      margin-left: 15px;
      padding-top: 10px;
      color: #777;
    }

footer {
  height: 280px;
}

  #footer_top_nav {
    position: relative;
    left: 9px;
    top: 2px;
  }

  .foot_nav {
    display: inline-block;
    margin-top: 40px;
    padding-right: 18px;
    padding-left: 20px;
    border-right: 1px solid #ccc;
  }

  #about {
    border-right: none;
  }

  #other_logos {
    position: relative;
    left: 225px;
    top: 29px;
  }

  #norton {
    /*clear: left;*/
    display: inline-block;
    height: 58px;
  }

  #trust {
    display: inline-block;
    height: 45px;
    margin-left: 21px;
    margin-bottom: 7px
  }

  .footer_text {
    font-family: lightFont;
    font-size: .8em;
    color: #bbb;
  }

  #footer_bottom_nav {
    position: relative;
    font-size: .7em;
    top: 53px;
    left: 242px;
  }

  .error {
    color: #F22;
    border-color: #F22;
  }

  #email-error, #confirm_email-error, #country-error, #zip-error, #password-error, #confirm_password-error, #terms-error {
    position: relative;
    top: -25px;
    margin-bottom: 0;
    padding-bottom: 0;
  }